.Home {
    text-align: center;
    padding-top: 250px;
    color: white;
}

.Home-login-button, .Home-register-button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    border-radius: .15cm;
    border: none;
    height: 50px;
    width: 100px;
    margin-top: 25px;
}

.Home-login-button {
    margin-right: 60px;
}

.Home-register-button {
    margin-left: 60px;
}

.Home-login-button:hover, .Home-register-button:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    .Home {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Home-login-button {
        font-size: 15px;
        margin-right: 50px;
    }
    
    .Home-register-button {
        font-size: 15px;
        margin-left: 50px;
    }
  }